name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/hello-app
      MANIFESTS_REPO_SSH: git@github.com:otaviolxna/projeto-kubernetes-deployments.git
      MANIFESTS_BRANCH: main

    steps:
      - name: Checkout app repo (projeto-uol-api)
        uses: actions/checkout@v4

      - name: Set image tag (short SHA)
        id: vars
        run: echo "TAG=$(echo $GITHUB_SHA | cut -c1-12)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.TAG }}

      # --- SSH para acessar o repo de manifests ---
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Clone manifests repo (projeto-kubernetes-deployments)
        run: |
          git clone --depth 1 -b "${{ env.MANIFESTS_BRANCH }}" "${{ env.MANIFESTS_REPO_SSH }}" manifests
          cd manifests
          git config user.name "github-actions"
          git config user.email "ci@github.com"

          # Atualiza a imagem no(s) deployment(s).
          # Se seus YAMLs NÃO estão na raiz, troque o caminho abaixo (ex.: k8s/deplo
